body{
    margin: 0;
    display:  flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 95%);
}

#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 25px;
    max-width: 300px;
    overflow: hidden;
}

#display{
    width: 88.5%;
    padding: 20px;
    font-size: 3rem;
    text-align: left;
    border: none;
    background-color: hsl(0, 0%, 20%);
    color: white;
}

#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 5px;
    padding: 15px;
}

button {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    border : none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

button :hover{
    background-color: hsl(0, 0%, 40%);
}

button :active{
    background-color: hsl(0, 0%, 40%);
}
.opertor-btn{
    background-color: hsl(35, 100%, 55%);
}

.opertor-btn-btn {
    background-color: hsl(195, 100%, 55%);
}

.opertor-btn:hover{
    background-color: hsl(35, 100%, 65%);
}

.opertor-btn:active{
    background-color: hsl(35, 100%, 75%);
}
